/* Fortune Cookie Generator Styles */

html {
    /* styles */
    background-image: url("fortune-cookie-background.png");
    background-position: cover;
    color: #012D35;
    font-family: 'Hind', sans-serif;
    /* formatting */
    text-align: center;
}
body {
  margin: 0;
}

h1 {
    background-color: #012D35;
    color: white;
    letter-spacing: .5rem;
    line-height: 1;
    font-weight: lighter;
    /* formatting */
    padding: 20px;
    position: relative;
    margin: 0;
    top: 0;
}
h2,h3,h4 {
  color: #802016;
}

p {
    margin-top: 10%;
    margin-bottom: 0;
    font-size: large;
}

li {
  list-style-type: none;
  line-height: 2;
}

.generate-button {
    background-color: #802016;
    color: white;
    font-family: 'Hind', sans-serif;
    font-size: small;
    /* formatting */
    border-radius: 30px 30px 30px 30px;
    border-width: 1px;
    border-color: #802016;
    margin-bottom: 25px;
    height: 75px;
    width: 100px;
}

.fortune-cookie-saying-wrapper {
    background-color: white;
    font-family: 'Special Elite', cursive;
    font-size: 150%;
    /* formatting*/
    border-radius: 50px 50px 50px 50px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 5%;
    margin-bottom: 5%;
}

#fortune-cookie-text {
  padding: 15%;
  color: #802016;
  font-size: 105%;
}
