/* Fortune Cookie Generator Styles */

html {
    text-align: center;
    padding: 2em;
    font-family: Georgia, serif;
    h1,h2,h3,h4: 
}

h1,h2,h3,h4 {
  font-family: Helvetica, sans-serif;
}

.fortune-cookie-saying-wrapper {
    border: 1px solid #666;
    padding: 1em;
    margin: 1em;
}